body {
    background-color: rgb(50, 122, 255);
    font-family: Verdana;
    margin: 80px;
    margin-left: 450px;
    margin-right: 450px;
}
.big-container {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
}
header {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.login-container {
    display: flex;
    flex-direction: column;
}
.login-input {
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
}
button {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
}
button:hover {
    background-color: orange;
    border: 2px solid orange;
    cursor: pointer;
}
.signup-btn {
    background-color: rgb(63, 118, 247);
    color: white;
    border: 2px solid rgb(63, 118, 247);
}